.App {
  text-align: center;
}
.text {
  font-size: 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
 
}
.aboutText {
  text-align: center;
  
  color: red;
}
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(73, 79, 82);
  color: white;
}

.nav-links{
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
 list-style: none;

}
.artCard {
  display: flex;
  align-items: center;
  justify-content: normal;
 
/* width: 100%;  
height: 100%; */
}

/* .center-spinner {
  margin-bottom: -7px;
} */